.form {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 25px auto;
}

.form input{
    width: 40%;
    margin: 10px;
    padding: 10px;
}

.form button{
    width: 20%;
    margin: 10px;
    padding: 10px; 
    font-size: 22px;

    border: solid 1px #b3afaf;
    cursor: pointer;
}

.form button:hover {
    background-color: grey;
    transition: 500ms;
}